/* ContentPane */

.dropdownmenus .dijitContentPane {
	padding: 0;
}

/* nested layouts */
.dropdownmenus .dijitTabContainerTop-dijitContentPane,
.dropdownmenus .dijitTabContainerLeft-dijitContentPane,
.dropdownmenus .dijitTabContainerBottom-dijitContentPane,
.dropdownmenus .dijitTabContainerRight-dijitContentPane,
.dropdownmenus .dijitAccordionContainer-dijitContentPane {
	background-color: #fff;
	padding: 5px;
}

.dropdownmenus .dijitSplitContainer-dijitContentPane,
.dropdownmenus .dijitBorderContainer-dijitContentPane {
	background-color: #fff;		/* override background-color setting on parent .dijitBorderContainer */
	padding: 5px;
}