/* Tabs, shared classes */
.dropdownmenus .dijitTabPaneWrapper {
	background:#fff;
	border:1px solid #ccc;
	margin: 0;
	padding: 0;
}

.dropdownmenus .dijitTab {
	line-height:normal;
	margin-right:4px;	/* space between one tab and the next in top/bottom mode */
	padding:0;
	border:1px solid #ccc;
	background:#e2e2e2 url("../images/tabEnabled.png") repeat-x;
}

.dropdownmenus .dijitTabInnerDiv {
	padding:2px 8px 2px 9px;
}

.dropdownmenus .dijitTabSpacer {
	display: none;
}

.dropdownmenus .dijitTabContainer .tabStripRBtn {
	margin-right: 20px;
}
.dropdownmenus .dijitTabContainer .tabStripLBtn {
	margin-left: 20px;
}

.dropdownmenus .nowrapTabStrip .dijitTab {
	top: 2px;
}
.dropdownmenus .dijitTabContainerBottom .nowrapTabStrip .dijitTab {
	top: 0;
	bottom: 2px;
}

/* checked tab*/
.dropdownmenus .dijitTabChecked {
	/* the selected tab (with or without hover) */
	background-color:#fff;
	border-color: #ccc;
	background-image:none;
}

/* hovered tab */
.dropdownmenus .dijitTabHover {
	color: #243C5F;
	border-top-color:#92a0b3;
	border-left-color:#92a0b3;
	border-right-color:#92a0b3;
	border-bottom-color:#92a0b3;
	background:#e2e2e2 url("../images/tabHover.gif") repeat-x;
}

.dropdownmenus .dijitTabContainerTop .dijitTabHover {
	border-bottom-color:#ccc;
}

.dropdownmenus .dijitTabContainerBottom .dijitTabHover {
	border-top-color:#ccc;
}

.dropdownmenus .dijitTabContainerLeft .dijitTabHover {
	border-right-color:#ccc;
}

.dropdownmenus .dijitTabContainerRight .dijitTabHover {
	border-left-color:#ccc;
}

.dropdownmenus .dijitTabContainer .dijitTabCheckedHover {
	color: inherit;
	border:1px solid #ccc;
	background:#fff;
}

.dropdownmenus .dijitTab .tabLabel {
	/* make sure tabs w/close button and w/out close button are same height, even w/small (<12px) font */
	min-height: 12px;
	display: inline-block;
}

/* Nested Tabs */

.dropdownmenus .dijitTabContainerNested .dijitTabListWrapper {
	height: auto;
}

.dropdownmenus .dijitTabContainerNested .dijitTabContainerTop-tabs {
	border-bottom: 1px solid #CCC;
}

.dropdownmenus .dijitTabContainerTabListNested .dijitTab {
	background: none;
	border: none;
	top: 0;		/* to override top: 1px/-1px for normal tabs */
}
.dropdownmenus .dijitTabContainerTabListNested .dijitTab .dijitTabContent {
}
.dropdownmenus .dijitTabContainerTabListNested .dijitTabHover .dijitTabContent .tabLabel {
	text-decoration: underline;
}
.dropdownmenus .dijitTabContainerTabListNested .dijitTabChecked .dijitTabContent .tabLabel {
	text-decoration: underline;
	font-weight: bold;
	/*background:#f3f3f3;*/
}
.dropdownmenus .dijitTabContainer .dijitTabPaneWrapperNested {
	border: none;	/* prevent double border */
}

/* Close button */

.dropdownmenus .dijitTabCloseButton {
	background: url("../images/tabClose.png") no-repeat right top;
	width: 12px;
	height: 12px;
}
.dj_ie6 .dropdownmenus .dijitTabCloseButton {
	background-image : url("../images/tabClose.gif");
}

.dropdownmenus .dijitTabCloseButtonHover {
	background-image : url("../images/tabCloseHover.png");
}
.dj_ie6 .dropdownmenus .dijitTabCloseButtonHover {
	background-image : url("../images/tabCloseHover.gif");
}

/* ================================ */
/* top tabs */

.dropdownmenus .dijitTabContainerTop-tabs {
	margin-bottom: 0;
	border-color: #cccccc;
	padding-left: 3px;
	background-position: bottom;
}
.dropdownmenus .dijitTabContainerTop-tabs .dijitTab {
	top: 0;
	margin-bottom: -1px;
}

/* top container */
.dropdownmenus .dijitTabContainerTop-container {
	border-top: none;
}

/* checked tabs */
.dropdownmenus .dijitTabContainerTop-tabs .dijitTabChecked {
	border-bottom-color:white;
}

.dropdownmenus .dijitTabContainerTop-tabs,
.dropdownmenus .dijitTabContainerBottom-tabs {
	padding-left: 3px;
	padding-right: 3px;
}

/* strip */
.dropdownmenus .dijitTabContainerTopStrip {
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	padding-top: 2px;
	background: #f2f2f2;
}

.dropdownmenus .dijitTabContainerTopNone {
	padding-top: 0;
}


/* ================================ */
/* bottom tabs */
.dropdownmenus .dijitTabContainerBottom-tabs {
	margin-top: 0;
	border-color: #cccccc;
	background-position: top;
	padding-left: 3px;
}
.dropdownmenus .dijitTabContainerBottom-tabs .dijitTab {
	bottom: 0;
	margin-top: -1px;
}

/* bottom container */
.dropdownmenus .dijitTabContainerBottom-container {
	border-bottom: none;
}

/* checked tabs */
.dropdownmenus .dijitTabContainerBottom-tabs .dijitTabChecked {
	border-top-color:white;
}

/* strip */
.dropdownmenus .dijitTabContainerBottomStrip {
	padding-bottom: 2px;
	border: 1px solid #ccc;
	background: #f2f2f2;
	border-top: none;
}

/* ================================ */
/* right tabs */
.dropdownmenus .dijitTabContainerRight-tabs {
	border-color: #ccc;
	height: 100%;
	padding-top: 3px;
}

.dropdownmenus .dijitTabContainerRightStrip {
	margin-left: -1px;
}

/* right container */
.dropdownmenus .dijitTabContainerRight-container {
	border-right: none;
}

/* checked tabs */
.dropdownmenus .dijitTabContainerRight-tabs .dijitTabChecked {
	border-left-color:white;
}

/* strip */
.dropdownmenus .dijitTabContainerRightStrip {
	padding-right: 2px;
	border: 1px solid #ccc;
}

.dropdownmenus .dijitTabContainerRightStrip {
	background: #f2f2f2;
}

/* ================================ */
/* left tabs */
.dropdownmenus .dijitTabContainerLeft-tabs {
	border-color: #ccc;
	padding-top: 3px;
	height: 100%;
}

/* left conatiner */
.dropdownmenus .dijitTabContainerLeft-container {
	border-left: none;
}

/* checked tabs */
.dropdownmenus .dijitTabContainerLeft-tabs .dijitTabChecked {
	border-right-color:white;
}

/* strip */
.dropdownmenus .dijitTabContainerLeftStrip {
	padding-left: 2px;
	border: 1px solid #ccc;
	background: #f2f2f2;
	border-right: none;
}

/* ================================ */
/* left/right tabs */
.dropdownmenus .dijitTabContainerLeft-tabs .dijitTab,
.dropdownmenus .dijitTabContainerRight-tabs .dijitTab {
	margin-right:0;
	margin-bottom:4px;	/* space between one tab and the next in left/right mode */
}

/* ================================ */

/* this resets the tabcontainer stripe when within a contentpane */
.dropdownmenus .dijitTabContainerTop-dijitContentPane .dijitTabContainerTop-tabs {
	border-left: 0 solid #ccc;
	border-top: 0 solid #ccc;
	border-right: 0 solid #ccc;
	padding-top: 0;
	padding-left: 0;
}

/* ================================ */

/* Menu and slider control styles */
.dropdownmenus .dijitTabContainer .tabStripButton {
	margin-right: 0;
	padding-top: 2px;
	z-index: 12;
}

.dropdownmenus .dijitTabContainerBottom .tabStripButton {
	padding-top: 2px;
}

.dropdownmenus .tabStrip-disabled .tabStripButton .dijitTabInnerDiv {
	padding-bottom: 3px;
	padding-top: 1px;
}

.dropdownmenus .tabStripButton .dijitTabInnerDiv {
	padding: 3px 2px 4px 2px;
}

.dj_ie6 .dropdownmenus .tabStripButton .dijitTabInnerDiv,
.dj_ie7 .dropdownmenus .tabStripButton .dijitTabInnerDiv,
.dj_opera .dropdownmenus .tabStripButton .dijitTabInnerDiv {
	padding-bottom: 5px;
}
.dj_ie6 .dropdownmenus .tabStrip-disabled .tabStripButton .dijitTabInnerDiv,
.dj_ie7 .dropdownmenus .tabStrip-disabled .tabStripButton .dijitTabInnerDiv,
.dj_opera .dropdownmenus .tabStrip-disabled .tabStripButton .dijitTabInnerDiv {
	padding-bottom: 4px;
}

.dropdownmenus .dijitTabStripIcon {
	height: 14px;
	width: 14px;
	background: url(../images/spriteRoundedIconsSmall.png) no-repeat left top ;
}

.dj_ie6 .dropdownmenus .dijitTabStripIcon {
	background-image: url(../images/spriteRoundedIconsSmall.gif);
}

.dropdownmenus .dijitTabStripSlideRightIcon {
	background-position: -30px top;
}

.dropdownmenus .dijitTabStripMenuIcon {
	background-position: -15px top;
}

