#Edit and enter a space delimited list of disks, it must be in double quotes.

export DISKS="#TABLE:hdtype.tab:$NODERES:1#"

#Leave as is:

export NFS_SERVER=#XCATVAR:INSTALL_NFS#
export NFS_DIR=#XCATVAR:INSTALL_SRC_DIR#
export MASTER_IP=#XCATVAR:MASTER_IP#
export MASTER_IPS="#XCATVAR:MASTER_IPS#"
export IMAGE=#XCATVAR:NODETYPE#
export XCATDPORT=#TABLE:site.tab:xcatdport:1#

