.dijitTreeLabel {
	margin: 0;
}
.privtreediv .dijitTreeIcon {
	width: 0;
	height: 0;
}
.privtreediv .dijitFolderOpened {
	background-image: none;
}
.privtreediv .dijitFolderClosed {
	background-image: none;
}
.privtreediv .dijitTreeNodeSelected .dijitTreeLabel {
	background-color: #678DB2;
	color: white;
}
