/* Editor */
.dropdownmenus .dijitEditorRtl .dijitEditorIcon {
	background-image: url('../../icons/images/editorIconsEnabled_rtl.png'); /* editor icons sprite image - enabled state */
}
.dropdownmenus .dijitEditorRtlDisabled .dijitEditorIcon {
	background-image: url('../../icons/images/editorIconsDisabled_rtl.png'); /* editor icons sprite image - disabled state  */
}
