.dropdownmenus .dijitTitlePaneTitle {
	background: #cccccc;
	background:#fff url("images/titleBar.png") repeat-x bottom left;
	border:1px solid #bfbfbf;
	padding:3px 4px;
}
.dropdownmenus .dijitTitlePaneTitleHover  {
	background: #f8fafd url("images/accordionItemHover.gif") bottom repeat-x;
}

.dropdownmenus .dijitTitlePane .dijitArrowNode {
	background-image: url('images/spriteArrows.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 7px;
	width: 7px;
}
.dj_ie6 .dropdownmenus .dijitTitlePane .dijitArrowNode {
	background-image: url('images/spriteArrows.gif');
}

.dropdownmenus .dijitTitlePane .dijitClosed .dijitArrowNode {
	background-position: -14px 0;
}

.dropdownmenus .dijitTitlePaneContentOuter {
	background: #ffffff;
	border:1px solid #bfbfbf;
	border-top: 0;
}
.dropdownmenus .dijitTitlePaneContentInner {
	padding:10px;
}

.dropdownmenus .dijitTitlePaneTextNode {
	margin-left: 4px;
	margin-right: 4px;
}