.dropdownmenus .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/checkmarkNoBorder.png');
}

.dj_ie6 .dropdownmenus .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/checkmarkNoBorder.gif');
}

.dropdownmenus .dijitCheckBox,
.dropdownmenus .dijitCheckBoxIcon		/* inside a toggle button */	{
	background-image: url('../images/checkmark.png'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0 2px 0 0;
	padding: 0;
}

.dj_ie6 .dropdownmenus .dijitCheckBox,
.dj_ie6 .dropdownmenus .dijitCheckBoxIcon		/* inside a toggle button */	{
	background-image: url('../images/checkmark.gif'); /* checkbox sprite image */
}

.dropdownmenus .dijitCheckBox,
.dropdownmenus .dijitToggleButton .dijitCheckBoxIcon {
	/* unchecked */
	background-position: -16px;
}

.dropdownmenus .dijitCheckBoxChecked,
.dropdownmenus .dijitToggleButtonChecked .dijitCheckBoxIcon {
	/* checked */
	background-position: 0;
}

.dropdownmenus .dijitCheckBoxDisabled {
	/* disabled */
	background-position: -48px;
}

.dropdownmenus .dijitCheckBoxCheckedDisabled {
	/* disabled but checked */
	background-position: -32px;
}

.dropdownmenus .dijitCheckBoxHover {
	/* hovering over an unchecked enabled checkbox */
	background-position: -80px;
}

.dropdownmenus .dijitCheckBoxCheckedHover {
	/* hovering over a checked enabled checkbox */
	background-position: -64px;
}
