.dropdownmenus .dijitSelect .dijitButtonNode {
	padding: 0;
}
.dropdownmenus .dijitSelect .dijitButtonNode .dijitArrowButtonInner {
	margin: 0 4px 0 5px;
}

/* Make unselected content portion "look" more like a text box and less like a button */
.dropdownmenus .dijitSelect .dijitButtonContents {
	padding-top: 1px;
	background:#fff url("../images/validationInputBg.png") repeat-x top left;
	#background:#fff url('../images/validationInputBg.gif') repeat-x top left;
}
.dropdownmenus .dijitSelectHover .dijitButtonContents,
.dropdownmenus .dijitSelectActive .dijitButtonContents,
.dropdownmenus .dijitSelectOpened .dijitButtonContents,
.dropdownmenus .dijitSelectDisabled .dijitButtonContents,
.dropdownmenus .dijitSelectReadOnly .dijitButtonContents{
	background: transparent none;
}
.dj_ie .dropdownmenus .dijitSelect .dijitButtonContents {
	padding-top: 0;
}

/* Mirror DropDownButton */
.dropdownmenus .dijitSelectDisabled .dijitButtonNode {
	border-color: #d5d5d5 #bdbdbd #bdbdbd #d5d5d5;
	background:#e4e4e4 url("../images/buttonDisabled.png") top repeat-x;
}
.dj_ie .dropdownmenus .dijitSelectDisabled  .dijitButtonNode * {
	filter: gray() alpha(opacity=50);
}

.dropdownmenus .dijitSelectHover .dijitButtonNode {
	border-color:#a5beda;
	border-bottom-color:#5c7590;
	border-right-color:#5c7590;
	color:#243C5F;
	background:#fcfdff url("../images/buttonHover.png") repeat-x bottom;
}

.dropdownmenus .dijitSelectActive .dijitButtonNode,
.dropdownmenus .dijitSelectOpened .dijitButtonNode {
	border-color:#366dba;
	background: #ededed url("../images/buttonActive.png") bottom repeat-x;
}

/* Make the menu look more combobox-like */
.dropdownmenus .dijitSelectMenu td {
	padding: 0;
}
.dropdownmenus .dijitSelectMenu .dijitMenuItemLabel,
.dropdownmenus .dijitSelectMenu .dijitMenuArrowCell {
	padding: 0.1em 0.2em;
}


