.dropdownmenus .dijitSliderRtl .dijitSliderProgressBarH,
.dropdownmenus .dijitSliderRtl .dijitSliderRemainingBarH,
.dropdownmenus .dijitSliderRtl .dijitSliderLeftBumper,
.dropdownmenus .dijitSliderRtl .dijitSliderRightBumper,
.dropdownmenus .dijitSliderRtl .dijitSliderTopBumper {
	background-position: top right;
}

.dropdownmenus .dijitSliderRtl .dijitSliderProgressBarV,
.dropdownmenus .dijitSliderRtl .dijitSliderRemainingBarV,
.dropdownmenus .dijitSliderRtl .dijitSliderBottomBumper {
	background-position: bottom right;
}

.dropdownmenus .dijitSliderRtl .dijitSliderLeftBumper {
	border-left-width: 0;
	border-right-width: 1px;
}

.dropdownmenus .dijitSliderRtl .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0;
}

.dropdownmenus .dijitSliderRtl .dijitSliderIncrementIconH {
	background-position: -7px 0;
}

.dropdownmenus .dijitSliderRtl .dijitSliderDecrementIconH {
	background-position: -14px 0;
}
